<div>
        <div class="row">
            <div class="col-lg-12">
            
            <section id="part-0" class="questionarie notice center-block" ng-show="vm.show==0">
                <p>Estimado Estudiante: </p>
                <p>Por favor, dedica unos minutos para responder este instrumento. El objetivo de este proceso es promover la mejora continua de los profesores de la UADY y con ello garantizar la calidad en tu proceso de formación, por tanto te solicitamos contestes con la mayor sinceridad posible. </p>
                <p>Agradecemos tu colaboración.</p>

                <footer>
                    <p>Atentamente</p>
                    <p>Dirección General de Desarrollo Académico</p>
                    <p>LUZ, CIENCIA Y VERDAD</p>
                    
                    <a class="btn btn-primary next" ng-click="vm.show = 1">Siguiente</a>
                </footer>
            </section>
            

			<form ng-submit="vm.save()" name="cuestionario">
            <section ng-repeat="grupo in vm.resuelto.grupoPreguntasWrapper" id="part-{{ $index + 1 }}" class="questionarie" ng-switch="grupo.grupoPreguntas.cabecera" ng-show="vm.show==$index + 1">  
                <header>
                    <p><strong>{{ grupo.grupoPreguntas.instrucciones }}</strong></p>

					<!-- INICIA: Escala multicolor 4 -->
                    <table class="table table-bordered calificacion type-a" ng-switch-when="escalamulticolor4">
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td class="calif-1">Casi nunca</td>
                            <td class="calif-2">A veces</td>
                            <td class="calif-3">Frecuentemente</td>
                            <td class="calif-4">Casi Siempre</td>
                        </tr>
                    </table>
					<!-- TERMINA: Escala multicolor 4 -->
										
					<!-- INICIA: Escala multicolor 4 -->
					<section class="example" ng-switch-when="escalaAmarillo7">
                    <h5>Ejemplo: Flexible o Rígido</h5>
                    <table class="table table-bordered calificacion type-b">
                        <tr>
                            <td></td>
                            <td class="calif-1">1</td>
                            <td class="calif-2">2</td>
                            <td class="calif-3">3</td>
                            <td class="calif-4">4</td>
                            <td class="calif-5">5</td>
                            <td class="calif-6">6</td>
                            <td class="calif-7">7</td>
                            <td></td>
                        </tr>
                            <td>Flexible</td>
                            <td></td>
                            <td>x</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Rígido</td>

                        </tr>
                    </table>
                    <h4 class="text-center">En este caso la respuesta indicaría que se considera MUY flexible.</h4>
                </section>
				<!-- TERMINA: Escala multicolor 4 -->
				
				
                <!-- INICIA: Escala multicolor 3 -->
                <table class="table table-bordered calificacion type-c" ng-switch-when="escalamulticolor3">
					<tr>
 						<td>1</td>
						<td>2</td>
						<td>3</td>
					</tr>
					<tr>
						<td class="calif-1">Insatisfecho</td>
						<td class="calif-2">Satisfecho</td>
						<td class="calif-3">Muy satisfecho</td>
					</tr>
				</table>                
                <!-- TERMINA: Escala multicolor 3 -->

			</header>
			

    <ol class="stripped-list container-fluid">
	    <li class="form-group" ng-repeat="preguntaw in grupo.preguntasWrapperForUI" ng-switch="preguntaw.pregunta.tipoPregunta.tipoPregunta">
	    	<!-- INICIA: Pregunta tipo RADIOBUTTON -->
	    	<div class="row" ng-switch-when="RadioButton">
		        <div class="question col-sm-9">
		        {{ preguntaw.pregunta.preguntaString }}
		        </div>
		        <div class="col-sm-3 ">
		            <span ng-repeat="opcion in preguntaw.respuestasForUI">
                        <label class="radio-label"><input type="radio" ng-model="preguntaw.respuesta.respuestaSeleccionada" name="{{preguntaw.respuesta.id}}" ng-value="opcion.respuestaString" tabindex="-1" required> {{ opcion.respuestaString }}</label>
		            </span>
		            id: {{preguntaw.respuesta.id}}
		             {{preguntaw.respuesta.respuestaSeleccionada}}
		        </div>
	        </div>
	    	<!-- TERMINA: Pregunta tipo RADIOBUTTON -->
	        
	        <!-- INICIA: Pregunta tipo ESCALA -->
	    	<div class="row" ng-switch-when="Escala">
            	<table class="table table-bordered calificacion type-b">
                	<tr>
                    	<td width="20%">{{ preguntaw.pregunta.preguntaString.split('#@')[0] }}</td>
                    	<td ng-repeat="opcion in preguntaw.respuestasForUI" class="calif-{{$index + 1}}">
                        <label class="radio-label"><input type="radio" ng-model="preguntaw.respuesta.respuestaSeleccionada" name="{{preguntaw.respuesta.id}}" ng-value="opcion.respuestaString" tabindex="-1" required> {{ opcion.respuestaString }}</label>
                    	
                    	</td>
                    	<td width="20%">{{ preguntaw.pregunta.preguntaString.split('#@')[1] }}</td>
                    	 id: {{preguntaw.respuesta.id}}
                    	 {{preguntaw.respuesta.respuestaSeleccionada}}
                    </tr>	    	
	    		</table>	    	
	        </div>
	    	<!-- TERMINA: Pregunta tipo ESCALA -->
	    	
	    	<!-- INICIA: Pregunta tipo TEXTAREA -->
	    	<div class="row" ng-switch-when="TextArea">	    	
		        <div class="question col-sm-12"><label>{{ preguntaw.pregunta.preguntaString }}</label></div>
		        <div class="col-sm-12">
		            <textarea rows="4" cols="50" class="form-control"  name="{{preguntaw.respuesta.id}}" maxlength="1000" ng-model="preguntaw.respuesta.respuestaSeleccionada" tabindex="-1" required></textarea>
		        </div>
		         id: {{preguntaw.respuesta.id}}
		        {{preguntaw.respuesta.respuestaSeleccionada}}
		    </div>
	        <!-- TERMINA: Pregunta tipo TEXTAREA --> 	
	    </li>
    </ol>

    <footer>
		<a class="btn btn-primary next" ng-click="vm.show = $index">Anterior</a>
		<a class="btn btn-primary next" ng-click="vm.show = $index + 2" ng-if="!$last">Siguiente</a>
		<button type="submit"  class="btn btn-primary next" ng-if="$last">Guardar</button>
    </footer>
    
    
			    </section>
				</form>
            </div>
        </div>
        <!-- /.row -->
</div>
