<nav id="main-menu" class="navbar navbar-default container" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
			<h1 id="logo">
				<a href="#/" ng-click="vm.collapseNavbar()">UADY</a>
			</h1>	
        </div>
        
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm">Inicio</span>
                    </a>
                </li>
                 <li>
                 	<a ui-sref="gestor" ng-click="vm.collapseNavbar()" has-authority="GESTOR_ACADEMICO">
                    	<span class="glyphicon glyphicon-user"></span>&nbsp;
                    	<span>Gestor Academico</span>
                    </a>
                 </li>
                 <li>
                    <a ui-sref="docente" ng-click="vm.collapseNavbar()" has-authority="PROFESOR">
                    	<span class="glyphicon glyphicon-user"></span>&nbsp;
                    	<span>Docente</span>
                    </a>
                 </li>
                 
                 <li>
                    <a ui-sref="alumno" ng-click="vm.collapseNavbar()" has-authority="ALUMNO">
                    	<span class="glyphicon glyphicon-user"></span>&nbsp;
                        <span>Estudiante</span>
                    </a>
                 </li>
                 <li ui-sref-active="active" ng-switch-when="true">
                    <a href="" ng-click="vm.logout()" id="logout">
                    	<span class="glyphicon glyphicon-log-out"></span>&nbsp;
                    	<span>Cerrar Sesión</span>
                    </a>
                 </li>
                 <li ui-sref-active="active" ng-switch-when="false">
                    <a href="" ng-click="vm.login()" id="login">
                    	<span class="glyphicon glyphicon-log-in"></span>&nbsp;
                    	<span>Iniciar Sesión</span>
                    </a>
                 </li>
            </ul>
        </div>
</nav>
