<div>
    
     <!-- Page Content -->
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h2 id="navbar">Mis asignaturas</h2>
                </div>
                
                <form class="form-horizontal">
                  <div class="form-group separated">
                    <div class="col-sm-4">
                        <input type="text" ng-model="busquedadocente" class="form-control" placeholder="Buscar por asignatura o institución">                        
                    </div>
                    <!-- button type="submit" class="btn btn-default">Buscar</button -->
                  </div>
                </form>
                
				<div class="alert alert-info text-center" ng-show="vm.clases.length == 0">No tienes clases para evaluar.</div>
                <table class="table table-striped table-hover ">
                <!--
                <thead>
                  <tr>
                    <th>Asignatura</th>
                    <th>Opciones</th>
                  </tr>
                </thead>
                -->
                <tbody>
                
                     <!-- tr ng-repeat="clase in vm.clases | filter: busquedadocente:{clase:{ institucion:{ nombre}},clase:{ asignaturaBase:{ nombre}}} track by clase.id" -->
                    <tr ng-repeat="clase in vm.clases | filter: busquedadocente track by clase.id">
                    <td><h4>{{clase.clase.asignaturaBase.nombre}}</h4><h6>{{ clase.clase.institucion.nombre }} - {{ clase.clase.grupo.grupo }}</h6></td>
					<!-- td><h4>{{clase}}</h4></td -->
                    <td class="vcenter">
                    <ul class="btn-group opciones-menu">

                        <li uib-dropdown class="dropdown pointer">
                            <a class="dropdown-toggle" uib-dropdown-toggle href="" id="obs-menu">
                                Observaciones
                            </a>
                        </li>
                        <li uib-dropdown class="dropdown pointer">
                            <a class="dropdown-toggle" uib-dropdown-toggle href="" id="obs-menu">
                                Evaluaciones
                                <b class="caret" ng-hide="clase.evaluacion.id == null"></b>
                            </a>
                            <ul class="dropdown-menu multi-level" uib-dropdown-menu id="obs-menu" ng-hide="clase.evaluacion.id == null">
                                <li>
                                    <a ui-sref="autoevaluacion({ambito:clase.evaluacion.id,profesor:clase.profesor.persona.id})"
                                    >Llenar autoevaluación</a>
                                </li>                                
                            </ul>
                        </li>
                        <li uib-dropdown class="dropdown pointer">
                            <a class="dropdown-toggle" uib-dropdown-toggle href="" id="obs-menu">
                                Evidencias 
                                <!-- <b class="caret"></b> -->
                            </a>
<!--
                             <ul class="dropdown-menu multi-level" uib-dropdown-menu id="obs-menu">
                                <li>
                                    <a>Agregar observación +</a>
                                </li>
                            </ul> 
-->
                        </li>
                        
                    </ul>                    
					</td>
                  </tr>
                
               
               
               

                </tbody>
                </table>

            </div>
        </div>
        <!-- /.row -->
    
</div>
