    <form class="form-horizontal" ng-submit="vm.save()">
	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.cancel()">&times;</button>
		<h4 class="modal-title">Registrar clase a evaluar</h4>
	</div>
	<div class="modal-body">
					<p>Seleccione el tipo de evaluación:</p>
					<label><input type="radio" ng-model="vm.ambito.formaDeEvaluar" name="tipo" value="Obligatoria" required> Obligatoria</label><br/>
					<label><input type="radio" ng-model="vm.ambito.formaDeEvaluar" name="tipo" value="Optativa" required> Optativa</label><br/>
					<label><input type="radio" ng-model="vm.ambito.formaDeEvaluar" name="tipo" value="Libre" required> Libre</label><br/>
	</div>
    <div class="modal-footer">
          			<button type="submit"  class="btn btn-primary">Registrar</button>
    </div>
	</form>