<div>
     <!-- Page Content -->
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h2 id="navbar">Lista de profesores</h2>
                </div>

                <form class="form-horizontal form-search">
                  <div class="form-group">                  	
                   	<!-- div class="col-sm-5" -->
                        <!-- input type="text" ng-model="busquedagestor" class="form-control" placeholder="Buscar por asignatura, profesor o grupo" -->
                  	<!-- /div -->
				  <!-- button type="submit" class="btn btn-default">Buscar</button -->
				  <!-- input type="button" value="Buscar" ng-click="vm.buscargestor()" / -->
				  <div class="col-sm-5">
						<input type="text"  ng-model="vm.criterio" class="form-control" placeholder="Buscar ...">
				    </div>
				    <div class="col-sm-5">
						<button type="button" ng-click="vm.filtro()" class="btn btn-primary">Buscar</button>
					</div>
                  </div>
				  <div class="checkbox">
				    <label>
						<input type="checkbox" ng-model="busquedagestornoevaluados" ng-true-value=false ng-false-value="" > Por evaluar    
					</label>
					<br>
					<!-- span> Total : {{vm.total}}</span -->
				  </div>
                </form>

                <table class="table table-striped table-hover ">
                <!--
                <thead>
                  <tr>
                    <th>Asignatura</th>
                    <th>Opciones</th>
                  </tr>
                </thead>
                -->
                <!-- h1>{{vm.ejemplo}}</h1-->
                <!-- h2>{{vm.filtrogestores}}</h2-->
                <tbody>
                	<tr ng-repeat="usuario in vm.usuarios | filter: {hayevaluaciones:busquedagestornoevaluados} | filtrogestor:(vm.page -1 )* vm.itemsPerPage | filter:busquedagestor | limitTo:vm.itemsPerPage track by usuario.id">
                	<!-- tr ng-repeat="usuario in vm.usuarios | filter: {hayevaluaciones:busquedagestornoevaluados}| filter: busquedagestor:{nombreCompletoAAN,clase:{ asignaturaBase:{ nombre}}} track by usuario.id"-->
                     <!-- tr ng-repeat="usuario in vm.usuarios | filter: {hayevaluaciones:busquedagestornoevaluados}| filter: {clase:{ asignaturaBase:{ nombre:busquedagestor}}} track by usuario.id"-->
                    <!-- tr ng-repeat="usuario in vm.usuarios | filter: {hayevaluaciones:busquedagestornoevaluados} track by usuario.id" -->
                    <td><h4>{{usuario.clase.asignaturaBase.nombre}}</h4><h6>{{usuario.nombreCompletoAAN}} - {{ usuario.clase.grupo.grupo }}</h6></td>
					<!-- td><h4>{{usuario}}</h4></td -->
                    <td class="vcenter">
                     <ul class="btn-group opciones-menu">

                        <li uib-dropdown class="dropdown pointer">
                            <a class="dropdown-toggle" uib-dropdown-toggle href="" id="obs-menu">
                                Observaciones 
                                <!-- <b class="caret"></b> -->
                            </a>
                        </li>
                        
                        <li uib-dropdown class="dropdown pointer" ng-switch="usuario.evaluacion.id == null">
	                        
                            <a class="dropdown-toggle" uib-dropdown-toggle href="" id="eval-menu" >
	                            <span ng-switch-when="false" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                Evaluaciones 
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu multi-level" uib-dropdown-menu id="eval-menu">
                                <li ng-switch-when="true">
                                   <!--  <a ui-sref="gestor.ambito({id:usuario.clase.id,idp:usuario.profesor.persona.id})" >Registrar Evaluación</a> -->
                                <a >Evaluaciones cerradas</a>
                                </li>
                                 <li ng-switch-when="false">
                                    <a  >Forma de evaluacion: "{{usuario.evaluacion.formaDeEvaluar}}"</a>
                                </li>
                                <!--li ng-switch-when="false">
                                    <a >Ver autoevaluación del profesor</a>
                                </li-->
                                 <li ng-click="vm.download(usuario.evaluacion.id)">
                                    <a>Descargar reporte de alumnos evaluados</a>
                                </li>
                                 <li>
                                    <a ui-sref="downloadPage({ambito:usuario.evaluacion.id})">Ver resumen de alumnos evaluados.</a>
                                </li>
                                
                                   
                            </ul>
                        </li>
                        <li uib-dropdown class="dropdown pointer">
                            <a class="dropdown-toggle" uib-dropdown-toggle href="" id="obs-menu">
                                Evidencias 
                                <!-- <b class="caret"></b> -->
                            </a>
                        </li>
                        
                    </ul>
                    </td>
                  </tr>
                
                </tbody>
                </table>

            </div>
        </div>
        <!-- /.row -->

    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
</div>
