<div>
     <!-- Page Content -->
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h2 id="navbar">Lista de profesores</h2>
                    
                   <h4 ng-show="vm.anioSeleccionado"> {{vm.anioSeleccionado.descripcion}}</h4>
                </div>
				<jhi-alert-error></jhi-alert-error>
				

				
                <form class="form-horizontal form-search">
                  <div><h4>Buscar por:
                  	<br/>
                  
                  <div>
		            <label class="control-label" > A&ntildeo Escolar</label>
		          <!--   <select required class="" ng-model="vm.anioSelected" ng-options="anioEscolar.descripcion for anioEscolar in vm.aniosEscolares">
					</select> -->
					 
					<select required class="dropdown" ng-model="vm.anioSeleccionado" >
					<option ng-repeat="anioEscolar in vm.aniosEscolares"  value="{{anioEscolar.id}}" >{{anioEscolar.descripcion}}</option>
					</select>
					<label class="control-label" > Periodo: </label>
					<input type="radio" name="type"  ng-model="vm.indicePeriodo" value="1"  required > Agosto - Diciembre
 					 <input type="radio" name="type"   ng-model="vm.indicePeriodo"  value="2" required> Enero - julio
      			  </div>
                     				
 					 </h4>
 				 </div>
                  <div class="form-group">                  	
                   	<div class="col-sm-5">
                        <input type="text" ng-model=vm.currentSearch class="form-control" placeholder="Buscar por asignatura o profesor">
                  	</div>
				  <button type="button" class="btn btn-primary" ng-click="vm.search()">Buscar</button>
                  </div>
				  <div class="checkbox">
				    <label>
						<input type="checkbox" ng-model="busquedagestornoevaluados" ng-true-value=false ng-false-value="" > Por evaluar    
					</label>
				  </div>
				   
                </form>

                <table class="table table-striped table-hover ">
                <!--
                <thead>
                  <tr>
                    <th>Asignatura</th>
                    <th>Opciones</th>
                  </tr>
                </thead>
                -->
                <tbody>
                	<tr ng-repeat="usuario in vm.usuarios | filter: {hayevaluaciones:busquedagestornoevaluados}| filter: busquedagestor track by usuario.id">
                	<!-- tr ng-repeat="usuario in vm.usuarios | filter: {hayevaluaciones:busquedagestornoevaluados}| filter: busquedagestor:{nombreCompletoAAN,clase:{ asignaturaBase:{ nombre}}} track by usuario.id"-->
                     <!-- tr ng-repeat="usuario in vm.usuarios | filter: {hayevaluaciones:busquedagestornoevaluados}| filter: {clase:{ asignaturaBase:{ nombre:busquedagestor}}} track by usuario.id"-->
                    <!-- tr ng-repeat="usuario in vm.usuarios | filter: {hayevaluaciones:busquedagestornoevaluados} track by usuario.id" -->
                    <td><h4>{{usuario.clase.asignaturaBase.nombre}}</h4><h6>{{usuario.nombreCompletoAAN}} - {{ usuario.clase.grupo.grupo }}</h6></td>
					<!-- td><h4>{{usuario}}</h4></td -->
                    <td class="vcenter">
                     <ul class="btn-group opciones-menu">

                        <li uib-dropdown class="dropdown pointer">
                            <a class="dropdown-toggle" uib-dropdown-toggle href="" id="obs-menu">
                                Observaciones 
                                <!-- <b class="caret"></b> -->
                            </a>
                        </li>
                        
                        <li uib-dropdown class="dropdown pointer" ng-switch="usuario.evaluacion.id == null">
	                        
                            <a class="dropdown-toggle" uib-dropdown-toggle href="" id="eval-menu" >
	                            <span ng-switch-when="false" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                Evaluaciones 
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu multi-level" uib-dropdown-menu id="eval-menu">
                                <li ng-switch-when="true">
                                   <a ui-sref="gestor.ambito({id:usuario.clase.id,idp:usuario.profesor.persona.id})" >
                                   Registrar Evaluación</a>
                                <!-- <a >Evaluaciones cerradas</a> -->
                                </li>
                                 <li ng-switch-when="false">
                                    <a  >Forma de evaluacion: "{{usuario.evaluacion.formaDeEvaluar}}"</a>
                                </li>
                                <!--li ng-switch-when="false">
                                    <a >Ver autoevaluación del profesor</a>
                                </li-->
                                 <li ng-switch-when="false" >
                                    <a ng-click="vm.download(usuario.evaluacion.id)">Descargar reporte de alumnos evaluados</a>
                                </li>
                                 <li ng-switch-when="false">
                                    <a ui-sref="downloadPage({ambito:usuario.evaluacion.id})">Ver resumen de alumnos evaluados.</a>
                                </li>
                                 <li ng-switch-when="false">
                                    <a ng-click="vm.descargarReporteAlumnos(usuario.evaluacion.id)">Descargar Datos de alumnos evaluados</a>
                                </li>
                                 <li ng-switch-when="false">
                                    <a ng-click="vm.descargarReporteProfesor(usuario.evaluacion.id)">Descargar Datos del Profesor</a>
                                </li>
                                   
                            </ul>
                        </li>
                        <li uib-dropdown class="dropdown pointer">
                            <a class="dropdown-toggle" uib-dropdown-toggle href="" id="obs-menu">
                                Evidencias 
                                <!-- <b class="caret"></b> -->
                            </a>
                        </li>
                        
                    </ul>
                    </td>
                  </tr>
                
                </tbody>
                </table>

            </div>
        </div>
        <!-- /.row -->

    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
