<form  class="form-horizontal" name="editForm" role="form" novalidate ng-submit="vm.save()">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
			ng-click="vm.clear()">&times;</button>
		<h4 class="modal-title" id="myUsuarioLabel">Nuevo Usuario</h4>
	</div>
	<jhi-alert-error></jhi-alert-error>
	<div class="modal-body">
		<div class="form-group">
			<label class="col-sm-2 control-label">Nombre</label>
			<div class="col-sm-5">
				<input type="text"  ng-model="vm.criterio" class="form-control" placeholder="Nombre del empleado">
			</div>
			<div class="col-sm-5">
				<button type="button" ng-click="vm.buscar()" class="btn btn-primary">Buscar</button>
			</div>				
		</div>

		<div class="form-group" ng-show="vm.empleados !=null">
			<label class="col-sm-2 control-label">Concidencias</label>
			<div class="col-sm-10">
				<ul class="lista-usuarios">
					<li ng-class="{'selected': empleado.id == vm.idpersona.id}"
						ng-repeat="empleado in vm.empleados track by empleado.id" ng-click="vm.setEmpleado(empleado)" >{{empleado.nombres}} {{empleado.apellidoPaterno}} {{empleado.apellidoMaterno}} </li>
				</ul>
			</div>		
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Dependencia a asignar</label>
			<div class="col-sm-5">
				<select class="form-control" ng-model="vm.institucionSelected" ng-value="institucion.nombre" ng-options="institucion.nombre+' '+institucion.abreviatura for institucion in vm.instituciones">
				</select>
			</div>
		</div>

		<div>
		</div>
	</div>		
	<div class="modal-footer">
		<button type="submit"  ng-disabled="editForm.$invalid || vm.isSaving ||!vm.valid()" class="btn btn-primary">Crear Perfil</button>
	</div>
</form>